body {
  margin: 0;
  font-family: 'IBMPlexRegular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: 'IBMPlexRegular';
  src: local('IBMPlexRegular'), url(./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'IBMPlexSemiBold';
  src: local('IBMPlexSemiBold'), url(./assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf) format("truetype");
}

